<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body style="background-image: url(https://cdn5.f-cdn.com/contestentries/1578585/21468461/5d62b49ac544b_thumb900.jpg);">
    <form action="login" method="post" style="text-align: center; margin-top: 40px;">
        {% csrf_token %}
         
        <input type="text" name="username" placeholder="Username"><br/><br/>
        <input type="password" name="password" placeholder="Password"><br/><br/>
        <input type="submit">
    </form>
</body>
</html>